.core-btn ion-icon {
    margin-right: 6px;
}

#breadcrumb {
    list-style: none;
    display: flex;
    li {
        display: inline-flex;
        align-items: center;
        a {
            color: #fff;
            display: inline-flex;
            text-decoration: none;
            position: relative;
            align-items: center;
            padding: 0px 16px;
            height: 33px;
            text-align: center;
            font-size: var(--font-size-12px);
            clip-path: polygon(0px 0px, calc(100% - 8px) 0px, 100% 50%, calc(100% - 8px) 100%, 0px 100%, 8px 50%);
            background-color: rgba(0, 119, 204, 0.2);
            color: var(--color-primary);
            font-family: var(--font-family-default);
            font-weight: normal;
        }
        &:first-child a {
            clip-path: polygon(0px 0px, calc(100% - 8px) 0px, 100% 50%, calc(100% - 8px) 100%, 0px 100%);
            border-radius: 4px 0 0 4px;
            padding-left: 10px;
        }
        &:last-child a {
            background-color: rgba(52, 55, 65, 0.2);
            color: rgb(52, 55, 65);
        }
    }
}
