.toggle-group {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 4px;
  padding: 4px;
  // background-color: rgb(33, 40, 48);
  border-radius: 999px;
  user-select: none;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.4);

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.toggle-item {
  all: unset;
  cursor: pointer;
  text-align: center;
  padding: 6px 18px;
  border-radius: 999px;
  font-size: var(--font-size-14px);
  font-weight: 500;
  color: #ffffff;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;

  &:hover:not(.active) {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.active {
    background: var(--color-primary);
    color: #ffffff;
  }
}
